:root {
    --primary-color: #2B1578;
    --secondary-color: #225982;
    --accent1-color:  #EAB527;
    --accent2-color: #F6ED10;
}

body {
    max-width: 1220px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
    background-color: rgba(8, 148, 225, 5%);
}

header img {
    width: 250px;
    height: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.navigation li {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

h1 {
    text-align: left;
    font-weight: 600;
    font-style: normal;
    color: var(--primary-color);
}

h2 {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    margin: 15px;
    color: var(--primary-color);
 }

p {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    position: relative;
    }

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(43, 21, 120, 75%);
}


.slogan {
    position: relative;
}

.slogan h1 {
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: -105px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(43, 21, 120, 75%);
}


.book {
        text-align: center;
        padding: 15px;
        justify-items: center;
        

    }

/* 
.book h3 {
    background-color: navy;
    width: 30%;
    text-align: center;
    color: white;
    padding: 10px;
} */

.stats {
    position: absolute;
    bottom: 20%;
    left: 10%;
    background: rgba(34, 89, 130, 90%);
    width: 80%;
    height: 50%;
}

.stats img {
    position: absolute;
    float: right;
    width: 45%;
    top: 3.5%;
    left: 54%;  
}

.stats p {
    width: 45%;
    color: white;
    margin-left: 15px;
}

.history {
    display: flex;
    background-color:rgba(8, 148, 225, 5%);
    padding: 15px;
}

.history p {
    text-align: left;
    margin: 0;
    padding-left: 15px;
}

.history h2 {
    text-align: center;
    margin: 15px;
}

.history h4 {
    color: #2B1578;
    text-align: left;
    margin: 0;
    padding-left: 15px;

}

.history iframe {
    width: 285px;
    padding-top: 15px;
    padding-left: 15px;
    height: 200px;
}

.history div {
    margin: 0;
    width: 300px; 
}


/* ################## */

.contact {
    display: flex;
    background-color:rgba(8, 148, 225, 5%);
    padding: 15px;
}

.contact p {
    text-align: left;
    margin: 0;
    padding-left: 15px;
}


h1 {
    text-align: center;
    margin: 15px;
}


.contact h4 {
    color: #2B1578;
    text-align: left;
    margin: 0;
    padding-left: 15px;

}

.contact iframe {
    width: 285px;
    padding-top: 15px;
    padding-left: 15px;
    height: 200px;
    border: 0;
}

.contact div {
    margin: 0;
    width: 300px; 
}

/* ################## */


.adventure {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background-color: rgba(8, 148, 225, 5%);
    padding: 15px;
    text-align: center;
    color:var(--primary-color)
}

.adventure img {
    max-width: 100%;
    height: auto;
    align-content: space-between;
    text-align: center;
}

/* ################## */

.staff {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background-color: rgba(8, 148, 225, 5%);
    padding: 15px;
    text-align: center;
    color:var(--primary-color)
}

.staff img {
    width: 250px;
    max-width: 100%;
    height: 200px;
    text-align: center;
}

/* ################## */

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

.options img {
    align-content: space-between;
    width: 100%;
    height: 275px;
}

.options figcaption {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.options p {
    padding: 5px;
}


/* ################## */

figure {
    margin: 0;
    color: var(--primary-color)
}

.adventure figcaption {
    font-weight: bold;
    
}




/* form starts here */

form {
  min-width: 650px;
  margin: 15px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
 }

fieldset {
  display: grid;
  grid-gap: 0.5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem; /*added styling*/
  padding: 1rem;
  justify-items: center;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

label, input, button, select, textarea {
  font-family: Helvetica, sans-serif;
  color: #2B1578;
}

label {
  text-align: right;
  padding-right: 1rem;
}

textarea {
    width: 505px;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

.btn {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
  width: 300px;
  display: block;
  font-weight: normal;
}

.btn:hover {
  background-color: darkgreen;
}

/* form ends here */


/* Table starts here */

table {
    margin-top: 50px;
    justify-self: auto;
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    width: 100%;
    color: var(--primary-color);

  }
  
  
  tbody > tr:nth-of-type(odd) {
    background-color: rgba(8, 148, 225, 5%);
  }


  th,
  td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    
  }
  
  td {
    text-align: center;
  }

/* Table ends here */


.wireframe {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.wireframe img {
    height: 75px;
    justify-content: start;
    padding: 15px;
}


.footer {
    display: flex;
    padding: 15px 0;
    position: relative;
}

.footer p {
    margin: 0 auto;
    align-content: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.logo img {
    justify-content: end;
    padding: 15px 0;
}