/* Coolors Exported Palette - https://coolors.co/f6ed10-2b1578-0894e1-eab527 */

/* CSS HEX */
--aureolin: #f6ed10ff;
--persian-indigo: #2b1578ff;
--celestial-blue: #0894e1ff;
--xanthous: #eab527ff;

/* CSS HSL */
--aureolin: hsla(58, 93%, 51%, 1);
--persian-indigo: hsla(253, 70%, 28%, 1);
--celestial-blue: hsla(201, 93%, 46%, 1);
--xanthous: hsla(44, 82%, 54%, 1);

/* SCSS HEX */
$aureolin: #f6ed10ff;
$persian-indigo: #2b1578ff;
$celestial-blue: #0894e1ff;
$xanthous: #eab527ff;

/* SCSS HSL */
$aureolin: hsla(58, 93%, 51%, 1);
$persian-indigo: hsla(253, 70%, 28%, 1);
$celestial-blue: hsla(201, 93%, 46%, 1);
$xanthous: hsla(44, 82%, 54%, 1);

/* SCSS RGB */
$aureolin: rgba(246, 237, 16, 1);
$persian-indigo: rgba(43, 21, 120, 1);
$celestial-blue: rgba(8, 148, 225, 1);
$xanthous: rgba(234, 181, 39, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-right: linear-gradient(90deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-bottom: linear-gradient(180deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-left: linear-gradient(270deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-top-right: linear-gradient(45deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-bottom-right: linear-gradient(135deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-top-left: linear-gradient(225deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-bottom-left: linear-gradient(315deg, #f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);
$gradient-radial: radial-gradient(#f6ed10ff, #2b1578ff, #0894e1ff, #eab527ff);