:root {
    --blue-theme: steelblue;
    --heading-text-color: white;
    --aside-boarder-color: rgba(0, 0, 0, 0.2);
    --aside-background-color: #eee;
    --aside-text-color: #333;
    --border-top-color: #000;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
}

nav {
    background-color: var(--blue-theme);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--blue-theme);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--blue-theme);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--aside-boarder-color);
    padding: 1rem;
    background-color: var(--aside-background-color);
    color: var(--aside-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 15px solid var(--border-top-color);
    text-align: center;
}

